<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.project.mapper.ProjectUserMapper">

    <resultMap id="BaseResultMap" type="org.dromara.project.domain.ProjectUser">
        <id property="projectId" column="project_id" jdbcType="BIGINT"/>
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <id property="projectUserRole" column="project_user_role" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="projectLevelCountResultMap" type="java.util.HashMap">
        <result property="project_level" column="project_level"/>
        <result property="count" column="count"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,user_id,project_user_role
    </sql>
    <!-- 获取历史所有项目级别和对应的数量 -->
    <select id="getProjectLevelCountByUserId" resultMap="projectLevelCountResultMap" parameterType="Long">
        SELECT pbi.project_level, COUNT(DISTINCT pbi.project_id, pu.user_id) AS count
        FROM project_base_info pbi
        INNER JOIN project_user pu ON pbi.project_id = pu.project_id
        WHERE pu.user_id = #{userId} AND pu.project_user_role &lt;> 6
        GROUP BY pbi.project_level
    </select>

    <!-- 获取当前正在进行中的项目级别和对应的数量 (&gt; > ), (&lt; < )-->
    <select id="getNowProjectLevelCountByUserId" resultMap="projectLevelCountResultMap" parameterType="Long">
        SELECT pbi.project_level, COUNT(DISTINCT pbi.project_id, pu.user_id) AS count
        FROM project_base_info pbi
        INNER JOIN project_user pu ON pbi.project_id = pu.project_id
        WHERE CURDATE() &gt;= pbi.project_establish_time AND CURDATE() &lt;= pbi.project_scheduled_completion_time
        AND pu.project_user_role &lt;> 6
        AND pu.user_id = #{userId}
        GROUP BY pbi.project_level
    </select>
</mapper>
