<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysOssMapper">
    <update id="updateUrl">
        UPDATE sys_oss
        SET url = REPLACE(url, #{oldEndPoint},#{newEndPoint})
        WHERE url LIKE CONCAT('%http://', #{oldEndPoint}, '%')
    </update>
</mapper>
